<form>
  <h1>Edit Quiz</h1>
  <div *ngIf="quiz">
    <label for="quiz-id">Quiz title</label>
    <input type="text" id="quiz-id" [(ngModel)]="quiz.title" name="title" class="form-control" required />

    <div *ngFor="let question of quiz.questions" class="quiz-question row inverse-colors">
      <div class="col-12 pt-2">
        <label for="question-text-{{question.id}}">Question</label>
        <textarea id="question-text-{{question.id}}" [(ngModel)]="question.questionText" name="questions[{{question.id}}][questionText]"
          class="form-control" required></textarea>
        <div class="question-options">
          <label>Options</label>
          <div *ngFor="let opt of question.options" class="row">
            <div class="col-12">
              <input type="hidden" [(ngModel)]="opt.id" name="questions[{{question.id}}][options][{{opt.id}}][id]" />
              <div class="input-group mb-1">
                <input type="text" id="opt-{{opt.id}}" [(ngModel)]="opt.text" name="questions[{{question.id}}][options][{{opt.id}}][text]"
                  class="form-control" required />
                <!-- <input type="checkbox" class="form-control" name="questions[{{question.id}}][options][{{opt.id}}][correct]" value="true" /> -->
                <div class="input-group-append">
                    <a *ngIf="opt.correct" [routerLink]="" class="btn btn-success pull-right" (click)="toggleCorrect($event, opt)">
                      <i class="fa fa-check"></i>
                    </a>
                    <a *ngIf="!opt.correct" [routerLink]="" class="btn btn-danger pull-right" (click)="toggleCorrect($event, opt)">
                      <i class="fa fa-times"></i>
                    </a>
                    <a [routerLink]="" class="btn btn-secondary pull-right" (click)="deleteOption($event, question, opt)">
                      <i class="fa fa-trash"></i>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-1">
          <div class="offset-10 col-2">
            <a [routerLink]="" class="btn btn-primary pull-right" (click)="addQuestionOption($event, question)">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="mt-2 mb-2">
          <a [routerLink]="" class="btn btn-danger" (click)="deleteQuestion($event, question)">Delete question</a>
        </div>
      </div>
    </div>

    <a [routerLink]="" class="btn btn-primary" (click)="addQuestion($event)">Add question</a>
    <button type="submit" (click)="saveQuiz($event)" class="btn btn-success pull-right">Save</button>
    <a routerLink="/dashboard" class="btn btn-secondary pull-right mr-1">Cancel</a>
  </div>
</form>