<h2>
  My Quizzes
</h2>
<div class="quiz-list mb-2">
  <div *ngFor="let quiz of quizzes" class="row quiz inverse-colors">
    <div class="col-12 col-sm-8">
      <b>{{quiz.title}}</b>
    </div>
    <div class="col-12 col-sm-4">
      <a routerLink="/quiz/presentation/{{quiz.id}}" class="btn btn-primary btn-sm mr-2">
        <i class="fa fa-play"></i>
        Start presentation
      </a>
      <span class="btn-group">
        <a routerLink="/quiz/{{quiz.id}}" class="btn btn-primary btn-sm">
          <i class="fa fa-pencil"></i>
        </a>
        <a [routerLink]="" class="btn btn-danger btn-sm" (click)="deleteQuiz($event, quiz)">
          <i class="fa fa-trash"></i>
        </a>
      </span>
    </div>
  </div>
</div>
<button (click)="newQuiz()" class="btn btn-primary pull-right">New Quiz</button>